:root {
    --bg-color: #fff;
    --point-color: #48e;
    --arrow-color: #8ae;
    --arrow-size: 35px;
    --event-name-color: #666;
    --date-color: #333;
    --point-size: 10px;
}

.timeline-container {
    max-width: 720px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.timeline-wrapper {
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.node-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.node-wrapper hr {
    flex: 1;
    border: none;
    height: 2px;
    background: var(--point-color);
}

.event-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px 0px;
    text-align: center;
    min-width: 33.33%;
}

.event-name {
    font-size: 10px;
    text-align: center;
    --webkit-font-smoothing: antialiased;
    color: var(--event-name-color);
}

.date-wrapper {
    font-size: 11px;
    font-weight: bold;
    --webkit-font-smoothing: antialiased;
    color: var(--date-color);
}

.event-node {
    align-self: center;
    margin: 10px 0;
    position: relative;
    display: inline-block;
    width: var(--point-size);
    height: var(--point-size);
    border: 1px solid var(--point-color);
    border-radius: 0;
    transform: rotateZ(45deg);
}

.event-node.active,
.event-node:hover {
    background: var(--point-color);
    cursor: pointer;
}

.slider {
    position: absolute;
    font-size: 1rem;
    color: var(--arrow-color);
    display: inline-block;
    width: var(--arrow-size);
    height: var(--arrow-size);
    text-align: center;
    align-content: center;
    line-height: calc(var(--arrow-size) - 2px);
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid var(--arrow-color);
    top: calc(50% - var(--arrow-size)/2);
    background: var(--bg-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.slider.slide-lt {
    left: 0;
}

.slider.slider.slide-rt {
    right: 0;
}

.slider:hover {
    background: var(--arrow-color);
    color: #fff;
    cursor: pointer;
}

.slider.disabled,
.slider.disabled:hover {
    background: var(--bg-color);
    color: #999;
    cursor: auto;
    border-color: #999;
}


/*
@media(max-width: 480px) {
    .event-wrapper {
        min-width: 100%;
    }
}
*/