:root {
    --background-color: #000;
    --background-inverted: #fff;
    --background-uppermid: #ddd;
    --dark-color: #999;
    --primary-color: #7c9;
    --danger-color: #c79;
    --text-on-dark: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

.clearfix {
    float: none;
    clear: both;
}

.pull-left {
    float: left;
}

.h4 {
    font-size: 1.2em;
    margin-top: 5px;
}

button {
    border: 1px solid var(--dark-color);
    background: var(--background-color);
    color: var(--text-on-dark);
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
}

.button-primary {
    background: var(--primary-color);
}

button[data-status="active"] {
    background: var(--danger-color);
}

#loggerContainer {
    padding: 21px 0px;
    margin: 0 21px;
    height: 80px;
    border-left: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
    background-color: var(--background-inverted);
    overflow-y: scroll;
}

.loggerHr {
    width: 100%;
    border-bottom: 1px dashed var(--dark-color);
    background-color: var(--background-uppermid);
}

#canvasContainer {
    width: 100%;
    height: calc(100% - 82px);
    background: var(--background-inverted);
    padding: 21px;
}

#canvasContainer .buttonContainer {
    border-bottom: 1px dashed var(--dark-color);
    margin-bottom: 21px;
    padding-bottom: 10px;
    text-align: right;
}

#canvasContainer canvas {
    width: 100%;
    height: calc(100% - 58px);
    border: 1px solid var(--dark-color);
}